<div
  class="drop-zone"
  [class.dragging]="isDragging"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  (click)="triggerFileInput(); $event.stopPropagation()"
>
  <div class="drop-zone-content">
    <div class="drop-icon" aria-hidden="true">
      <i class="fa-solid fa-cloud-arrow-up"></i>
    </div>
    <div>
      <p class="drop-title">{{ dropTitle }}</p>
      <p class="drop-text">{{ dropText }}</p>
    </div>
    <p class="drop-hint">Up to 50MB per file</p>
  </div>
</div>

<input
  #fileInput
  type="file"
  multiple
  [accept]="accept"
  (change)="onFilesSelected($event)"
  class="hidden-input"
>
